In [1]:
# pyscience imports
import os
import sys
import glob
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("seaborn-darkgrid")
# plt.style.use("dark_background")
sns.set(style="ticks", context="talk")
# %matplotlib inline
# run for jupyter notebook
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
#%%

In [2]:
import requests
import lxml.html as lh
import bs4 as bs
import urllib.request
import io
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

# General Setup

Get relevant url from [league321](http://league321.com)

# Scotland

## [scotland league history](http://www.league321.com/scotland-football.html)

In [3]:
tablecols = ['club','played',
                'home_w', 'home_d', 'home_l', 'home_f', 'home_a', 
                'away_w', 'away_d', 'away_l', 'away_f', 'away_a', 
                'pts']

In [4]:
def spfl_scraper(year, colnames = tablecols, baseurl = 'https://spfl.co.uk/league/premiership/archive/'):
    suffix = str(1999 - year)
    url = baseurl + suffix
    print(url)
    r = requests.get(url, headers=header)
    dfs = pd.read_html(r.text, header = 1)
    df = dfs[0] # only keep first table
    df.drop(df.index[[0]], inplace = True) # drop first row
    # better alternative
    # drop columns with all missing values
    df.dropna(axis='columns', how = 'all', inplace = True) 
    # drop rows with all missing values
    df.dropna(how='all', inplace = True) 
    # try naming columns
    try:
        df.columns = colnames
    except:
        print('Unexpected Table Structure')
    df['year'] = year
    return df

In [5]:
spfl_scraper(1978)

https://spfl.co.uk/league/premiership/archive/21

,club,played,home_w,home_d,home_l,home_f,home_a,away_w,away_d,away_l,away_f,away_a,pts,year
1,Rangers,36.0,12,4,2.0,35.0,18.0,12.0,3.0,3.0,41.0,21.0,55.0,1978
2,Aberdeen,36.0,14,3,1.0,43.0,13.0,8.0,6.0,4.0,25.0,16.0,53.0,1978
3,Dundee United,36.0,9,4,5.0,28.0,17.0,7.0,4.0,7.0,14.0,15.0,40.0,1978
4,Hibernian,36.0,10,5,3.0,35.0,16.0,5.0,2.0,11.0,16.0,27.0,37.0,1978
5,Celtic,36.0,11,3,4.0,36.0,19.0,4.0,3.0,11.0,27.0,35.0,36.0,1978
6,Motherwell,36.0,8,3,7.0,28.0,24.0,5.0,4.0,9.0,17.0,28.0,33.0,1978
7,Partick Thistle,36.0,10,2,6.0,25.0,23.0,4.0,3.0,11.0,27.0,41.0,33.0,1978
8,St. Mirren,36.0,7,5,6.0,29.0,25.0,4.0,3.0,11.0,23.0,38.0,30.0,1978
9,Ayr United,36.0,5,3,10.0,17.0,28.0,4.0,3.0,11.0,19.0,40.0,24.0,1978
10,Clydebank,36.0,5,3,10.0,16.0,33.0,1.0,4.0,13.0,7.0,31.0,19.0,1978

In [6]:
seasons = list(range(1950, 1994, 1))
result = map(spfl_scraper, seasons) 
tables = list(result)

https://spfl.co.uk/league/premiership/archive/49
https://spfl.co.uk/league/premiership/archive/48
https://spfl.co.uk/league/premiership/archive/47
https://spfl.co.uk/league/premiership/archive/46
Unexpected Table Structure
https://spfl.co.uk/league/premiership/archive/45
https://spfl.co.uk/league/premiership/archive/44
https://spfl.co.uk/league/premiership/archive/43
https://spfl.co.uk/league/premiership/archive/42
https://spfl.co.uk/league/premiership/archive/41
https://spfl.co.uk/league/premiership/archive/40
https://spfl.co.uk/league/premiership/archive/39
https://spfl.co.uk/league/premiership/archive/38
https://spfl.co.uk/league/premiership/archive/37
https://spfl.co.uk/league/premiership/archive/36
https://spfl.co.uk/league/premiership/archive/35
https://spfl.co.uk/league/premiership/archive/34
Unexpected Table Structure
https://spfl.co.uk/league/premiership/archive/33
https://spfl.co.uk/league/premiership/archive/32
https://spfl.co.uk/league/premiership/archive/31
https://spfl.co.uk/league/premiership/archive/30
https://spfl.co.uk/league/premiership/archive/29
https://spfl.co.uk/league/premiership/archive/28
https://spfl.co.uk/league/premiership/archive/27
https://spfl.co.uk/league/premiership/archive/26
https://spfl.co.uk/league/premiership/archive/25
https://spfl.co.uk/league/premiership/archive/24
https://spfl.co.uk/league/premiership/archive/23
https://spfl.co.uk/league/premiership/archive/22
https://spfl.co.uk/league/premiership/archive/21
https://spfl.co.uk/league/premiership/archive/20
https://spfl.co.uk/league/premiership/archive/19
https://spfl.co.uk/league/premiership/archive/18
https://spfl.co.uk/league/premiership/archive/17
https://spfl.co.uk/league/premiership/archive/16
https://spfl.co.uk/league/premiership/archive/15
https://spfl.co.uk/league/premiership/archive/14
https://spfl.co.uk/league/premiership/archive/13
Unexpected Table Structure
https://spfl.co.uk/league/premiership/archive/12
https://spfl.co.uk/league/premiership/archive/11
https://spfl.co.uk/league/premiership/archive/10
https://spfl.co.uk/league/premiership/archive/9
https://spfl.co.uk/league/premiership/archive/8
https://spfl.co.uk/league/premiership/archive/7
https://spfl.co.uk/league/premiership/archive/6

In [ ]:
# # fixes to table name for 1986 season (decided on goal difference; extra column)
# tables[11].drop('Unnamed: 13', axis=1, inplace = True)
# ll = tablecols + ['year']
# tables[11].columns = ll
# tables[11]

In [8]:
%pwd
%mkdir scottish_league_tables -p
%cd scottish_league_tables

'/mnt/d/Temp/football_table_scraper'

/mnt/d/Temp/football_table_scraper/scottish_league_tables

In [9]:
for i in range(0,len(seasons)):
    fn = 'scottish_league_' + str(seasons[i]) + '.csv'
    tables[i].to_csv(fn)

In [15]:
%cd ..

/mnt/d/Temp/football_table_scraper

# England

## [England league history](http://www.rsssf.com/engpaul/fla/league.html)

In [10]:
cols = ['Pos', 'Team', 'Played',
        'home_w', 'home_d', 'home_l', 'home_f', 'home_a', 
        'away_w', 'away_d', 'away_l', 'away_f', 'away_a', 
        'Pts'] 

rsssf_base = 'http://www.rsssf.com/engpaul/fla/'

In [11]:
def epl_scraper(y1, baseurl = rsssf_base, colnames = cols):
    """
    takes year name and scrapes rsssf page, writes to a temp file, then returns pandas df
    """
    y2 = y1 % 1900 + 1
    url = baseurl + '{0}-{1}'.format(y1, y2) + '.html'
    r = requests.get(url, headers=header)
    page_content = bs.BeautifulSoup(r.content, "html.parser")
    tables = page_content.find_all("pre")
    tables = str(tables[0])
    t1 = tables.split('<hr/>')[1].split('\n')
    table = t1[3:-1]
    table = [x.replace('.', '') for x in table]
    with open('temp.txt', 'w') as f:
        f.write('\n'.join(table))
    leaguetable = pd.read_fwf('temp.txt', header = None, names = colnames)
    leaguetable['year'] = y1
    return leaguetable

In [12]:
epl_scraper(1993)

,Pos,Team,Played,home_w,home_d,home_l,home_f,home_a,away_w,away_d,away_l,away_f,away_a,Pts,year
0,1,MANCHESTER UNITED,42,14,6,1,39,13,13,5,3,41,25,92,1993
1,2,Blackburn Rovers,42,14,5,2,31,11,11,4,6,32,25,84,1993
2,3,Newcastle United,42,14,4,3,51,14,9,4,8,31,27,77,1993
3,4,Arsenal,42,10,8,3,25,15,8,9,4,28,13,71,1993
4,5,Leeds United,42,13,6,2,37,18,5,10,6,28,21,70,1993
5,6,Wimbledon,42,12,5,4,35,21,6,6,9,21,32,65,1993
6,7,Sheffield Wednesday,42,10,7,4,48,24,6,9,6,28,30,64,1993
7,8,Liverpool,42,12,4,5,33,23,5,5,11,26,32,60,1993
8,9,Queen's Park Rangers,42,8,7,6,32,29,8,5,8,30,32,60,1993
9,10,Aston Villa,42,8,5,8,23,18,7,7,7,23,32,57,1993
10,11,Coventry City,42,9,7,5,23,17,5,7,9,20,28,56,1993
11,12,Norwich City,42,4,9,8,26,29,8,8,5,39,32,53,1993
12,13,West Ham United,42,6,7,8,26,31,7,6,8,21,27,52,1993
13,14,Chelsea,42,11,5,5,31,20,2,7,12,18,33,51,1993
14,15,Tottenham Hotspur,42,4,8,9,29,33,7,4,10,25,26,45,1993
15,16,Manchester City,42,6,10,5,24,22,3,8,10,14,27,45,1993
16,17,Everton,42,8,4,9,26,30,4,4,13,16,33,44,1993
17,18,Southampton,42,9,2,10,30,31,3,5,13,19,35,43,1993
18,19,Ipswich Town,42,5,8,8,21,32,4,8,9,14,26,43,1993
19,20,SHEFFIELD UNITED,42,6,10,5,24,23,2,8,11,18,37,42,1993
20,21,OLDHAM ATHLETIC,42,5,8,8,24,33,4,5,12,18,35,40,1993
21,22,SWINDON TOWN,42,4,7,10,25,45,1,8,12,22,55,30,1993

In [13]:
seasons = list(range(1950, 1994, 1))
result = []
for s in seasons:
    try:
        r = epl_scraper(s)
        result.append(r)
    except:
        print(str(s) + ' scraping failed')

1962 scraping failed
1970 scraping failed
1991 scraping failed

In [16]:
%pwd
%mkdir english_league_tables -p
%cd english_league_tables

'/mnt/d/Temp/football_table_scraper'

/mnt/d/Temp/football_table_scraper/english_league_tables

In [17]:
for r in result:
    year = r['year'].unique()[0]
    fn = 'english_league_' + str(year) + '.csv'
    r.to_csv(fn)